@use "../../../../styles/mixins";
@use "../../../../styles/vars";

.root {
	@include mixins.full-size-percent;
	@include mixins.flex-center;

	label {
		font-size: 2rem;
	}

	input {
		text-align: center;
		font-size: 2rem;
		width: 15rem;
		height: 2.5rem;
		border-radius: 10px;
		border: 1px solid white;
		background: rgb(71, 71, 71);
		overflow-x: auto;

		&.err {
			border: 1px solid red;
		}
	}

	button {
		@include mixins.login-register-btn;
		margin-top: 20px;
	}

	.init {
		@include mixins.flex-center;

		div.err {
			color: red;
			font-size: 1.2rem;
		}
	}

	.user_info {
		.prompt {
			text-align: center;

			font-size: 2rem;
		}

		.box {
			text-align: center;
			border: 1px solid white;
			border-radius: 10px;
			padding: 10px;
			margin-top: 20px;
			font-size: 1.5rem;

			.icons {
				@include mixins.flex-center;
				flex-direction: row;
				justify-content: space-evenly;
				color: white;
				margin-top: 10px;

				.check {
					cursor: pointer;
					color: green;
					font-size: 2rem;

					&:hover {
						color: lightgreen;
					}
				}

				.cancel {
					cursor: pointer;
					color: red;
					font-size: 2.4rem;

					&:hover {
						color: lightgrey;
					}
				}
			}
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;

		input {
			margin-bottom: 10px;
		}

		.err {
			color: red;
			font-size: 1.2rem;
		}
	}
}
