@use "../../../../../../styles/mixins";

.root {
	@include mixins.full-size-percent;

	padding-top: 50px;

	display: flex;
	flex-direction: column;
	align-items: center;

	overflow-x: hidden;
	overflow-y: auto;

	button {
		@include mixins.login-register-btn;
	}

	.form {
		@include mixins.flex-center;
		gap: 5px;

		label {
			font-size: 2rem;
		}

		input {
			max-width: 80%;
			font-size: 2rem;
			text-align: center;
		}
	}

	.teacher {
		border: 1px solid white;
		border-radius: 10px;
		margin-top: 30px;

		padding: 5px;

		div {
			font-size: 1.5rem;
			text-align: center;
		}
	}

	div.classes {
		@include mixins.flex-center;
		margin-top: 30px;

		label {
			font-size: 1.5rem;
		}

		select {
			font-size: 1.5rem;
			cursor: pointer;

			margin-bottom: 20px;

			option {
				font-size: 1.5rem;
				text-align: center;
			}
		}
	}
}
