@use "../../../../styles/mixins";

.root {
	@include mixins.full-size-percent;
	display: flex;
	flex-direction: column;
	align-items: center;

	//border: 1px solid white;

	overflow-y: auto;

	.form {
		width: 80%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;

		padding: 20px;

		input {
			text-align: center;
			font-size: 1.5rem;
			width: 15rem;
			height: 2rem;
			border-radius: 10px;
			border: 1px solid white;
			background: rgb(71, 71, 71);
			overflow-x: auto;

			&.err {
				border: 2px solid red;
			}
		}

		div.err {
			color: red;
		}

		button {
			@include mixins.login-register-btn;
		}
	}
}
