@use "../../../../styles/mixins";
@use "../../../../styles/vars";

.root {
	@include mixins.full-size-percent;

	overflow: auto;

	.scroll {
		min-height: 100%;
		width: 100%;

		@include mixins.flex-center-col;
		gap: 10%;

		//border: 1px solid white;

		padding: 20px;

		h2 {
			font-size: 5rem;
			font-weight: bold;
			text-align: center;
		}

		h3 {
			font-size: 3rem;
			font-weight: bold;
			text-align: center;
		}

		.info {
			width: 60%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.results {
			width: 80%;

			//border: 1px solid white;
			border-radius: 10px;
			padding: 5px;

			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			gap: 5px;

			.incorrect {
				width: fit-content;
				height: fit-content;

				display: flex;
				flex-direction: column;

				border: 1px solid white;
				border-radius: 10px;

				div {
					text-align: center;
					font-size: 1.5rem;

					border-bottom: 1px solid white;
					padding: 5px;

					&:nth-child(3) {
						border: none;
						color: red;
					}
				}
			}
		}

		.buttons {
			display: flex;
			gap: 20px;
			margin-top: 20px;

			.box {
				@include mixins.flex-center;

				.button {
					width: 75px;
					height: 75px;
					@include mixins.flex-center;
					border: 1px solid white;
					border-radius: 15px;
					background: green;

					.icon {
						font-size: 3rem;
					}

					&:hover {
						cursor: pointer;
						background: rgb(114, 162, 114);
					}
				}
			}
		}
	}
}
