@use "../../../../styles/mixins";
@use "../../../../styles/vars";

.root {
	@include mixins.full-size-percent;
	@include mixins.flex-center;
	flex-direction: row;
	gap: 10px;

	//border: 1px solid white;

	.link {
		text-decoration: none;
		color: white;
		div {
			border: 1px solid white;
			padding: 10px;
			border-radius: vars.$border-radius;

			&:hover {
				background-color: vars.$color-btn-hover;
			}
		}
	}
}
