@use "../../../../styles/vars";
@use "../../../../styles/mixins";

@mixin topbar_btn {
	background: black;
	border: 1px solid white;
	border-radius: 10px;
	padding: 5px;
	font-weight: bold;

	&:hover {
		cursor: pointer;

		background: grey;
	}
}

.root {
	user-select: none;
	position: relative;

	.main {
		width: 100%;
		height: vars.$topbar-height;

		background: vars.$topbar-bg;

		@include mixins.flex-center-row;

		.icon {
			width: 50px;
			height: 50px;

			position: absolute;
			left: 0;

			color: vars.$logo-accent;
		}

		.title {
			@include mixins.flex-center-row;
			height: 100%;
			width: fit-content;
			padding-left: 5px;
		}

		.right {
			height: vars.$topbar-height;

			@include mixins.flex-center-row;
			gap: 10px;

			position: absolute;
			right: 0;

			.logged_in {
				@include mixins.flex-center-row;

				font-size: 2.5rem;

				.logout {
					&:hover {
						cursor: pointer;

						color: green;
					}
				}

				.hamburger {
					display: none;
				}
			}

			.buttons {
				@include mixins.flex-center-row;
				height: 100%;
				gap: 10px;

				margin-right: 10px;

				button {
					@include topbar_btn;

					margin-top: 0;
				}
			}

			.theme {
				font-size: 2rem;

				&:hover {
					cursor: pointer;

					color: grey;
				}
			}
		}
	}

	.navbar {
		height: 100px;
	}
}

@media only screen and (max-width: vars.$mobile-width) {
	.root .main .right .logged_in {
		.logout {
			display: none;
		}

		.hamburger {
			display: block;
			font-size: 2.5rem;

			border: 2px solid white;
			border-radius: 10px;

			user-select: none;

			cursor: pointer;

			&.open {
				background: #3b3a3a;
			}
		}
	}
}

@media only screen and (max-width: 400px) {
	.root .main {
		.title {
			font-size: 1.5rem;
		}
	}
}
