@use "../../../../../../styles/mixins";

.root {
	width: 100%;
	display: flex;

	display: grid;
	grid-template-columns: repeat(3, 1fr);

	.edit {
		@include mixins.full-size-percent;
		@include mixins.flex-center-col;
		gap: 10px;
		padding: 10px;

		input {
			text-align: center;
		}
	}
}
