@use "../../../../styles/mixins";
@use "../../../../styles/vars";

$border: 1px solid black;
$br: 10px;
$form-bg: #ededed;
$hover: rgba(
	$color: #3b3737,
	$alpha: 0.1,
);
$btn-color: green;

.root {
	@include mixins.full-size-percent;

	overflow: auto;

	.scroll {
		min-width: 100%;
		min-height: 100%;
		@include mixins.flex-center;

		padding-top: 20px;
		padding-bottom: 20px;

		form {
			min-width: fit-content;
			width: 50%;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;

			border-radius: $br;

			user-select: none;

			//background: vars.$form-bg;
			//color: black;

			input {
				height: 5rem;

				border: 1px solid white;
				border-radius: $br;
				background: rgba($color: #b7b6b6, $alpha: 1);

				color: black;
				text-align: center;

				font-size: 3rem;
				font-weight: bold;

				&.errInput {
					border: 2px solid red;
					background: rgba($color: #f00, $alpha: 0.5);
				}
			}

			.range {
				display: grid;
				grid-template-columns: 1fr 4rem 1fr;

				padding: 10px;

				div {
					@include mixins.full-size-percent;
					@include mixins.flex-center-col;

					input {
						width: 10rem;
					}
				}

				.div {
					font-size: 4rem;
					text-align: center;
				}
			}

			.ops {
				width: 100%;

				display: grid;
				grid-template-columns: repeat(4, 25%);

				border: 1px solid vars.$form-bg;

				div {
					width: 100%;
					height: 100%;
					@include mixins.flex-center-col;

					border-right: 1px solid vars.$form-bg;

					font-size: 4rem;
					font-weight: 900;

					color: white;

					backdrop-filter: blur(2rem);
					-webkit-backdrop-filter: blur(2rem);

					&:hover {
						cursor: pointer;
					}

					&:last-of-type {
						border: none;
					}
				}

				.checked {
					background: rgba($color: rgb(20, 148, 54), $alpha: 1);

					color: rgba($color: #fff, $alpha: 1);
				}

				.unchecked {
					background: vars.$main-bg;

					color: rgba($color: #fff, $alpha: 0.5);
				}
			}

			.limits {
				width: 100%;

				display: grid;
				grid-template-columns: repeat(2, 1fr);
				margin-top: 10px;

				border: 1px solid vars.$form-bg;

				div {
					width: 100%;
					@include mixins.flex-center-col;

					font-size: 4rem;

					padding: 10px;

					&:first-of-type {
						border-right: 1px solid vars.$form-bg;
					}

					&:hover {
						cursor: pointer;
					}
				}

				.checked {
					background: rgba($color: rgb(7, 7, 246), $alpha: 1);

					color: rgba($color: #fff, $alpha: 1);
				}

				.unchecked {
					background: vars.$main-bg;

					color: rgba($color: #fff, $alpha: 0.5);
				}
			}

			.limit_count {
				width: 100%;
				@include mixins.flex-center-row;

				margin-top: 10px;

				div {
					@include mixins.flex-center-col;

					input {
						width: 10rem;
					}

					span {
						font-size: 2rem;
					}
				}
			}
		}

		.button {
			aspect-ratio: 1/1;
			width: 20%;

			@include mixins.flex-center-col;

			border-radius: $br;

			font-size: 3rem;

			border: none;

			background: $btn-color;

			.img {
				@include mixins.full-size-percent;
				padding: 10px;

				transform: translateX(4px);
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	.root .scroll form {
		.ops {
			div:hover {
				background: grey;
			}
		}

		.limits {
			div:hover {
				background: grey;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.root .scroll form {
		width: 90%;

		.range {
			div input {
				width: 8rem;
			}
		}
	}
}
