@use "../../styles/_vars.scss";
@use "../../styles/_mixins.scss";

.root {
	height: calc(100dvh - vars.$topbar-height - 1px);
	width: 100%;
	display: flex;

	overflow: hidden;
	background: vars.$main-bg;

	.content {
		@include mixins.full-size-percent;

		background: vars.$main-bg;
	}
}
