@use "../../../../styles/mixins";

.root {
	@include mixins.full-size-percent;
	@include mixins.flex-center;
	gap: 5px;

	label {
		font-size: 2rem;
	}

	input {
		font-size: 2rem;
		text-align: center;
	}
}
