@use "../../../../../../styles/_mixins.scss";

button {
	@include mixins.login-register-btn;

	margin-top: 20px;
}

.card {
	@include mixins.flex-center-col;
	justify-content: space-between;

	margin-top: 20px;

	background: grey;
	border-radius: 15px;
	padding: 10px;

	input {
		text-align: center;
		border-radius: 20px;
		padding: 5px;

		border: none;
		background: rgba($color: #fff, $alpha: 1);

		overflow-x: auto;
		color: black;

		&:focus {
			outline: none;
		}
	}
}
